<span class="badge score">
	<BsTooltip @title="Validator performance score for the last 24 hours" />
	<div class="top" style={{safe_width}}>
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
	</div>
	<div class="bottom">
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
	</div>
</span>