<span class="badge score">
	<BsTooltip @title="Validator performance score for the last 3 days" />
	<div class="top" style={{this.safe_width}}>
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
	</div>
	<div class="bottom">
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
		<MdIcon @icon="star"/>
	</div>
</span>