<span class="badge score">
	<BsTooltip @title="Validator performance score for the last 3 days" />
	<div class="top" style={{this.safe_width}}>
		<this.Star/>
		<this.Star/>
		<this.Star/>
		<this.Star/>
		<this.Star/>
	</div>
	<div class="bottom">
		<this.Star/>
		<this.Star/>
		<this.Star/>
		<this.Star/>
		<this.Star/>
	</div>
</span>